html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

#container {
  margin: 0;
}

#sideMenu {
  color: #6A737B;
  height: 100%;
  background-color: #F1F1F1;
}

#sideMenuTitle {
  width: 90%;
  padding-left: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.divider {
  padding-bottom: 5px;
}

.dropdownOption {
  margin-top: 30px;
  margin-left: 17px;
}

.dropdown.icon {
  color: #77a22f;
}

.leaflet-bar > a {
  color: #77a22f !important;
}

#map {
  height: 100%;
}

.option {
  margin-left: 20px;
}

.mapPopup {
  font-size: 13px;
}

.popupHeader {
  font-size: 16px;
}

.info {
    color: #6A737B;
    font-size: 14px ;
    margin-right: 50px;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h3 {
  color: #77a22f;
}

.info h4 {
    margin: 0 0 5px;
    color: #77a22f;
}

.checkbox {
  margin-top: 10px;
}

