html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

#container {
  margin: 0;
}

#sideMenu {
  height: 100%;
  background-color: #F1F1F1;
}

#sideMenuTitle {
  text-align: center;
}

#map {
  height: 100%;
}

.option {
  margin-left: 20px;
}

.popupHeader {
  font-size: 16px;
}

.info {
    margin-right: 50px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

